*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.8;
  color: #777;
  box-sizing: border-box;
}

.box {
  width: 60rem;
  padding: 2rem;
  margin: 2rem auto 0 auto;
  border: 1px solid #adadad;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.content {
  font-size: 2rem;
  color: red;
  align-self: center;
}

a:link {
  font-size: 2rem;
  color: blueviolet;
  text-decoration: none;
  align-self: center;
}
