*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.8;
  color: #777;
  box-sizing: border-box;
}

.content {
  font-size: 2rem;
  color: red;
  display: flex;
  justify-content: center;
}
